@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 초기값, 공통요소(제목, 버튼, 폰트스타일), 웹폰트 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    color: #333;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 공통스타일 */

.inner {
    width: 1440px;
    margin: 0 auto;
}

.title {
    margin-bottom: 40px;
}

.title h3 {
    font-size: 50px;
    margin-bottom: 16px;
}

.title p {
    font-size: 18px;
}

.btn li {
    font-family: 'Cafe24Ssurround';
    height: 40px;
    line-height: 40px;
    background-color: #5c5d89;
    color: #fff;
    padding: 0 18px;
    border-radius: 40px;
    display: inline-block;
}

.btn li:nth-child(2) {
    background-color: #f0950a;
}

.swiper {
    width: 100%;
    height: 100%;
  }
